{# Blank #}

{# Signature to Follow #}
{% macro signature_to_follow() %}
<div class="center break-after">[<em>Signature Page to Follow</em>]</div>
{% endmacro %}

{# Remainder Blank #}
{% macro remainder_blank() %}
<div class="center break-after">[<em>Remainder of the page intentionally left blank.</em>]</div>
{% endmacro %}

{# Attached Exhibits #}
{% macro see_attached() %}
<div class="center">[<em>Please see attached.</em>]</div>
{% endmacro %}
