<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{config.title}}</title>

  <link rel="stylesheet/less" type="text/css" href="/static/inkfill.less" />
  {% block styles %}{% endblock %}
  {% block paged %}
  <style>
    @media print {
      @page {
        size: letter;

        @bottom-center {
          content: "- " counter(page) " -";
        }
      }
    }
  </style>
  {% endblock %}
  <script src="/static/less.js"></script>
</head>

<body class="{{ 'debug' if config.args.debug else '' }}">
  {% block content %}{% endblock %}


  {% if config.args.debug %}
  <section class="debug">

    {% if xref.undefined | length %}
    <h1 class="center">References Not Defined</h1>
    <ul>
      {% for ref in xref.undefined: %}
      <li>{{ref}} as in {{ref.parent}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <h1 class="center">Defined Terms</h1>
    <ul>
      {% for ref in xref.store.values(): %}
      {% if ref.is_defined and ref.kind.name == "Term": %}
      <li>{{ref}} as in {{ref.parent}}</li>
      {% endif %}
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% block scripts %}{% endblock %}
  <script>
    [].slice.apply(document.querySelectorAll("a.ref")).forEach((link) => {
      const href = link.getAttribute("href")
      const ref = document.querySelector(href);
      if (!ref) {
        console.error("[inkfill] Could not find reference:", href)
        return;
      }

      const attr = link.getAttribute("data-attr") || "data-cite";
      link.innerText = ref.getAttribute(attr);
      link.classList.remove("not-defined");
    });
  </script>
  <script src="/static/paged.polyfill.js"></script>
</body>

</html>
